body{
    font-family: monospace;
    font-size: 16px;
}


.title{
    font-size: 36px;
    font-weight: bold;  
}

.fieldset_initial{
    position: absolute;
    left: 100px;
    top: 50px;
    height: 350px;
    width: 320px;
    margin: 1%;
}

.fieldset_status{
    position: absolute;
    left: 470px;
    top: 50px;
    height: 350px;
    width: 350px;
    margin: 1%;
}

.fieldset_action{
    position: absolute;
    left: 100px;
    top: 430px;
    height: 310px;
    width: 720px;
    margin: 1%;
}

.fieldset_log{
    position: absolute;
    left: 870px;
    top: 50px;
    height: 690px;
    width: 450px;
    margin: 1%;
}

.field_content_1{
    line-height: 190%;
}

.field_content_1 input[type="number"] {
    width: 30%;
}

.field_content_1 input[type="text"]:disabled{
    background: #CCC;
}

.fieldset_status pre{
    font-size: 100%;
    line-height: 200%;
}

.fieldset_action fieldset{
    height: 10%; 
    margin: 1%;
}

.fieldset_action pre{
    margin-top: 1%;
}

.fieldset_log textarea{
    font-size: 100%;
    width: 94%;
    height: 97%;
    margin: 2%;
    resize: none;
}