body{
    font-family: monospace;
    font-size: 16px;
}

select{
    width: 50px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
}

.fieldset_initial{
    position: absolute;
    left: 7%;
    top: 7%;
    height: 48%;
    width: 22%;
    margin: 1%;
}

.fieldset_status{
    position: absolute;
    left: 32%;
    top: 7%;
    height: 48%;
    width: 22%;
    margin: 1%;
}

.fieldset_action{
    position: absolute;
    left: 7%;
    top: 60%;
    height: 43%;
    width: 47%;
    margin: 1%;
    padding-top: 15px;
    padding-bottom: 0.6px;
}

.fieldset_log{
    position: absolute;
    left: 57%;
    top: 7%;
    height: 96%;
    width: 30%;
    margin: 1%;
}

.field_content_1{
    line-height: 190%;
}

.field_content_1 input[type="number"] {
    width: 30%;
}

.field_content_1 input[type="text"]:disabled{
    background: #CCC;
}

.fieldset_status pre{
    font-size: 100%;
    line-height: 200%;
}

.fieldset_action fieldset{
    height: 10%; 
    margin: 1%;
}

.fieldset_action pre{
    margin-top: 1%;
}

.fieldset_log textarea{
    font-size: 100%;
    width: 94%;
    height: 97%;
    margin: 2%;
    resize: none;
}